[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = https://github.com/spbu-coding/2-grading-tests.git
[submodule "2-AndreyBryns"]
	path = 2-AndreyBryns
	url = https://github.com/spbu-coding/2-AndreyBryns.git
[submodule "2-artmotika"]
	path = 2-artmotika
	url = https://github.com/spbu-coding/2-artmotika.git
[submodule "2-AShlegel"]
	path = 2-AShlegel
	url = https://github.com/spbu-coding/2-AShlegel.git
[submodule "2-AzimMuradov"]
	path = 2-AzimMuradov
	url = https://github.com/spbu-coding/2-AzimMuradov.git
[submodule "2-baranov1dragonsuper"]
	path = 2-baranov1dragonsuper
	url = https://github.com/spbu-coding/2-baranov1dragonsuper.git
[submodule "2-danielsheh02"]
	path = 2-danielsheh02
	url = https://github.com/spbu-coding/2-danielsheh02.git
